<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeDcI4vHQPJqcRItg6gfjIGZx0kug7MB4</string>
	<key>GCM_SENDER_ID</key>
	<string>18357005938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baby.monitor</string>
	<key>PROJECT_ID</key>
	<string>baby-monitor-1be37</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-monitor-1be37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18357005938:ios:2a8e98b6c31883e7cd1ceb</string>
</dict>
</plist>